.button {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 6px;
    width: 200px;
    height: 39px;
    margin-top: 32px;
    margin-left: 352px;
    background: #6d5bd0;
}